html, body {
	font-family: 'Oswald', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}
.container {
	max-width: 100%;
}
/* video background */
.jt-video-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	opacity: 0.3;
	z-index: -100;
}
.jt-video-wrapper .jt-video-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* navigation */
.jt-container {
	max-width: 900px;
	height: 100%;
	margin: auto;
	/*border: 1px solid red;*/
	padding: 15px;
}
.jt-container .jt-header-wrapper {
	/*border: 1px solid red;*/
	overflow: hidden;
	margin-bottom: 15px;
}
.jt-container .jt-header-wrapper header {
	/*border: 1px solid black;*/
	float: left;
}
.jt-container .jt-header-wrapper header img {
	width: 94px;
	height: 94px;
	border-radius: 50%;
	float: left;
	opacity: 0.8;
	margin-right: 10px;
}
.jt-container .jt-header-wrapper header h1 {
	float: left;
	/*border: 1px solid teal;*/
}
.jt-container .jt-header-wrapper nav {
	/*float: right;*/
	padding: 15px 15px 15px 0;
	/*border: 1px solid black;*/
}
.jt-container .jt-header-wrapper nav ul {
	padding-left: 0;
}
.jt-container .jt-header-wrapper nav li {
	list-style: none;
	display: block;
	float: left;
	/*border: 1px solid red;*/
}
.jt-container .jt-header-wrapper nav li a {
	display: block;
	/*border: 1px solid green;*/
	padding: 15px;
	text-decoration: none;
	transition: 0.3s linear;
}
/*.jt-container .jt-header-wrapper nav li a:hover {
	color: #ce2c38;
}*/
.jt-container .jt-header-wrapper nav li a i {
	margin-right: 5px;
}
.jt-container .jt-header-wrapper .hamburger {
	float: right;
	margin-top: 30px;
	padding: 5px;
	display: none;
	transition: 0.3s linear;
}
/*.jt-container .jt-header-wrapper .hamburger:hover {
	color: #ce2c38;
}*/

/* Index */
.jt-container .jt-content-wrapper {
	/*margin-top: 40px;*/
	display: block;
}
.jt-post-wrapper {
	/*border: 1px solid red;*/
}
.jt-post-wrapper .jt-post-header {
	/*border: 1px solid red;*/
	border-bottom: 1px solid #000000;
	padding-bottom: 15px;
}
.jt-post-wrapper .jt-post-body {
	font-size: 15px;
	overflow: hidden;
}
.jt-post-wrapper .jt-post-body a {
	text-decoration: none;
	float: left;
	margin-right: 10px;
	transition: 0.3s linear;
}
/*.jt-post-wrapper .jt-post-body a:hover {
	color: #ce2c38;
}*/
.jt-post-wrapper .jt-post-body p {
	float: right;
}
.jt-social-accounts div {
	margin-bottom: 10px;
}
.jt-social-accounts div a {
	transition: 0.3s linear;
	text-decoration: none;
}
/*.jt-social-accounts div a:hover {
	color: #ce2c38;
}*/
.jt-page-wrapper {
	padding-left: 15px;
}
.btn-primary {
	transition: 0.3s linear;
}
/*.btn-primary:hover {
	background-color: #ce2c38;
}*/

.breadcrumb li a {
	transition: 0.3s linear;
	text-decoration: none;
}
/*.breadcrumb li a:hover {
	color: #ce2c38;
}*/

/* footer */
.footer {
	float: right;
	margin-top: 30px;
}


/* media quieres */
@media all and (max-width: 993px) {
	.jt-page-wrapper {
		padding-left: 0px;
	}
}

@media all and (max-width: 640px) {
	.jt-video-wrapper {
		display: none;
	}
}

@media all and (max-width: 550px) {
	.jt-container .jt-header-wrapper nav ul {
		display: none;
		overflow: hidden;
	}
	.jt-container .jt-header-wrapper .hamburger {
		display: block;
	}
	.footer {
		text-align: center;
	}
}

@media all and (max-width: 370px) {
	.jt-container .jt-header-wrapper header h1,
	.jt-container .jt-header-wrapper header p {
		display: none;
	}
	.jt-container .jt-header-wrapper nav ul li {
		display: inline-block; 
		width: 100%;
		text-align: center;
	}
	.jt-container .jt-header-wrapper nav ul li a i {
		margin-left: 20px;
		float: left;
	}
}