<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<header>
				<img class="img-responsive" src="/img/profile.jpg" alt="Picture of Jason Tang" />
				<h1>Jason Tang</h1>
				<p><i class="fa fa-windows"></i> Software Engineer</p>
			</header>
			<div class="hamburger">
				<a href="#"><i class="fa fa-list-ul fa-2x"></i></a>
			</div>
		</div>
		<div class="col-xs-12 col-md-8">
			<nav>
				<ul>
					<li>
						<a href="{{ site.baseurl }}/index.html">
							<i class="glyphicon glyphicon-home"></i>
							{{ site.data.navigation[page.lang].home }}
						</a>
					</li>
					<li>
						<a href="{{ site.baseurl }}/profile.html">
							<i class="glyphicon glyphicon-user"></i>
							{{ site.data.navigation[page.lang].profile }}
						</a>
					</li>
					<li>
						<a href="{{ site.baseurl }}/projects.html">
							<i class="glyphicon glyphicon-list"></i>
							{{ site.data.navigation[page.lang].projects }}
						</a>
					</li>
					<li>
						<a href="{{ site.baseurl }}/resume.html">
							<i class="glyphicon glyphicon-list-alt"></i>
							{{ site.data.navigation[page.lang].resume }}
						</a>
					</li>
					<li>
						<a href="{{ site.baseurl }}/library.html">
							<i class="glyphicon glyphicon-book"></i>
							{{ site.data.navigation[page.lang].library }}
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>


