<header>
	<img class="img-responsive" src="/img/jason.jpg" alt="Picture of Jason Tang" />
	<h1>Jason Tang</h1>
</header>
<nav class="jt-nav-wrapper">
	<ul>
		<li>
			<a href="#">
				<i class="glyphicon glyphicon-home"></i>
				<span class="">home</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="glyphicon glyphicon-user"></i>
				<span>profile</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="glyphicon glyphicon-list"></i>
				<span>projects</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="glyphicon glyphicon-list-alt"></i>
				<span>resume</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="glyphicon glyphicon-book"></i>
				<span>library</span>
			</a>
		</li>
	</ul>
</nav>
