<div class="profile">
	<div class="profile-img">
		<img class="img-responsive" src="/img/jason.jpg" alt="Picture of Jason Tang" />
	</div>
	<div class="profile-info">
		<ul class="navigation">
			<li><a href="#"><i class="fa fa-home fa-3x"></i></a></li>
			<li><a href="#"><i class="fa fa-user fa-3x"></i></a></li>
			<li><a href="#"><i class="fa fa-folder-open-o fa-3x"></i></a></li>
			<li><a href="#"><i class="fa fa-file-code-o fa-3x"></i></a></li>
		</ul>
		<p class="profile-fa">
			<a href="#"><i class="fa fa-github fa-2x"></i></a>
			<a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
		</p>
	</div>
</div>