<!DOCTYPE html>
<html>
	{% include header.html %}
	<body>
		<div class="jt-video-wrapper">
			<video autoplay loop>
				<source src="video/video.mp4" type="video/mp4" class="jt-video-background">
				Your browser does not support HTML5 video.
			</video>
		</div>
		<div class="jt-container">
			<div class="jt-header-wrapper">
				{% include nav.html %}
			</div>
			<div class="jt-content-wrapper">
				{{ content }}
			</div>
			<div class="jt-footer-wrapper">
				{% include footer.html %}
			</div>
		</div>
	</body>
</html>